<div class="container">
    <div class="copy">
        &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io"
                                                            target="_blank">CinemaPress</a>&nbsp;&nbsp;|&nbsp;&nbsp;<%- page.l.contacts %>
        &nbsp;<span id="mylo">Activate JS</span>
        <script>(function(d, i, l, r) {
            d.getElementById(i).innerHTML = l + '@' + r;
          })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
    </div>
</div>

<div id="top" style="display: none;">
    <span>
        <i class="pic icon-playSlim"></i>
        <span class="text"><%- page.l.up %></span>
    </span>
</div>

<script>
  (function() {
    var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
    var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
    var dataAllSrcCountComp = 0;
    var fSrc = {
      'dataCountImage': function() {
        dataAllSrcCountComp = dataAllSrcCountComp+1;
        if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
          dataAllSrcCount = 0;
          setTimeout(function() {
            fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
          }, 1);
        }
      },
      'dataSetImage': function(el) {
        var src = el.dataset.cinemapressSrc;
        var bgSrc = el.dataset.cinemapressBgSrc;
        if (!src && !bgSrc) return;
        var img = new Image();
        img.src = src ? src : bgSrc;
        img.onload = function() {
          if (src) { el.src = src; }
          else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
        }
      },
      'checkLoad': function(els, fn) {
        if (!els) return;
        els.forEach(function(src) {
          if (typeof src.complete === 'undefined' || src.complete) {
            fSrc[fn](src);
          } else {
            src.addEventListener('load', function() {
              fSrc[fn](this);
            }, { once: true });
          }
        });
      }
    }
    fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
  })();
</script>

<script src="/themes/<%- page.theme %>/public/js/all.min.js"></script>

<%- page.codes.footer %>