<!--[if lt IE 9 ]><script src="/themes/<%- page.theme %>/public/js/settings/ie8_html.js"></script><![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%= page.title %></title>

<meta name="description" content="<%= page.description %>"/>

<link rel="icon" href="/themes/<%- page.theme %>/public/favicon.ico?v=<%- page.ver %>" type="image/x-icon"/>

<link href="/themes/<%- page.theme %>/public/css/all.min.css?v=<%- page.ver %>" rel='stylesheet' type='text/css'/>

<%- page.codes.head %>