<div class="container">
    <div class="logo" style="background:url(/themes/robb/public/images/logo.png?v=<%- page.ver %>) no-repeat 0 0;"><a href="/"></a></div>
    <div class="search">
        <form method="get" action="/<%- page.urls.search %>" class="search_header">
            <div class="search-wrap icon-search">
                <input type="text" name="q" id="search" placeholder="<%- page.l.movieTitle %>" data-autocomplete="desktop">
                <input class="f_submited" type="submit" value="">
                <span class="close-search icon-close"></span>
            </div>
        </form>
    </div>
    <ul class="header-menu">
        <li>
            <span class="menu-title"><%- page.l.movies %></span>
            <div class="sub-nav-wrapper">
                <ul class="sub-main-nav col-one">
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a></li>
                    <li><a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a></li>
                    <li><a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a></li>
                    <li><a href="/<%- page.urls.year %>"><%- page.l.allYears %></a></li>
                    <li><a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a></li>
                    <li><a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a></li>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(0,10).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(10,20).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(20,30).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.years.slice(0,10).forEach(function(year) { %>
                    <li>
                        <a href="<%- year.url %>">
                            <%- year.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>"><%- page.l.cartoons %></a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><%- page.l.series %></a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>"><%- page.l.anime %></a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>"><%- page.l.tv %></a></li>
    </ul>

    <div class="login guest">
        <span class="open icon-play continueViewingBlock" id="continueViewing" style="display: none;"><%- page.l.continue %></span>
    </div>

    <div class="randomMovieMenu">
        <div class="login guest cinemapress-random-menu" title="<%- page.l.lucky %>">
            <a href="/?random"><img src="/themes/robb/public/images/dice.svg" alt="<%- page.l.lucky %>"></a>
        </div>
    </div>

    <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>

</div>