<div class="container">
    <div class="logo"><a href="/"></a></div>
    <div class="search">
        <form method="get" action='/<%- page.urls.search %>/title' class="search_header">
            <div class="search-wrap icon-search">
                <input type="text" name="q" id="search" placeholder="Что ищем?" autocomplete="off">
                <input class="f_submited" type="submit" value="">
                <span class="close-search icon-close"></span>
            </div>
        </form>
    </div>
    <ul class="header-menu">
        <li>
            <span class="menu-title">Фильмы</span>
            <div class="sub-nav-wrapper">
                <ul class="sub-main-nav col-one">
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>">Все фильмы</a></li>
                    <li><a href="/<%- page.urls.genre %>">Все жанры</a></li>
                    <li><a href="/<%- page.urls.country %>">Все страны</a></li>
                    <li><a href="/<%- page.urls.year %>">Все годы</a></li>
                    <li><a href="/<%- page.urls.actor %>">Все актеры</a></li>
                    <li><a href="/<%- page.urls.director %>">Все режиссеры</a></li>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(0,10).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(10,20).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.genres.slice(20,30).forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <ul class="sub-main-nav">
                    <% page.urls.years.slice(0,10).forEach(function(year) { %>
                    <li>
                        <a href="<%- year.url %>">
                            <%- year.title %> год
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a></li>
        <li><a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a></li>
    </ul>

    <div class="login guest">
        <span class="open icon-play continueViewingBlock" id="continueViewing" style="display: none;">Продолжить</span>
    </div>

</div>