<div class="aside-wrap">

    <% if (typeof top === 'object' && top.length) { %>

        <div class="aside-block">
            <div class="aside-title">
                <%- page.l.top %>
            </div>

            <% [top.shift()].forEach(function (movie) { %>

                <div id="now-playing" class="slider slider-main">
                    <a href="<%- movie.url %>" class="playing-poster "><img src="<%- movie.poster %>" alt="<%= page.l.online %> <%= movie.title %>"></a>
                </div>

            <% }); %>

        </div>
        <div class="now-playing-list main-page">

            <% top.forEach(function (movie) { %>

                <div class="list-item">
                    <a href="<%- movie.url %>" class="name-movie">
                        <span class="name-rus"><%= movie.title %></span>
                        <span class="name-eng"><%= movie.title_en %></span>
                    </a>
                </div>

            <% }); %>

        </div>

    <% } %>

    <% if (typeof index === 'object') {
            for (var type in index) {
    if (index.hasOwnProperty(type) && index[type].length && type === 'episode') {
    index[type].forEach(function (category) { %>

        <div class="aside-block">
            <div class="aside-title">
                <%- category.name %>
            </div>

            <% if (category.movies.length) {
            [category.movies.shift()].forEach(function (movie) { %>

                <div id="now-playing" class="slider slider-main">
                    <a href="<%- movie.url %>" class="playing-poster "><img src="<%- movie.poster %>" alt="<%= page.l.online %> <%= movie.title %>"></a>
                </div>

                <div class="list-item">
                    <a href="<%- movie.url %>" class="name-movie">
                        <span class="name-rus"><%= movie.title %></span>
                        <span class="name-eng"><% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %> <% if (movie.translate) { %><%- movie.translate %><% } %><% } %></span>
                    </a>
                </div>

            <% });
            } %>

        </div>
        <div class="now-playing-list main-page">

            <% if (category.movies.length) {
            category.movies.forEach(function (movie) { %>

                <div class="list-item">
                    <a href="<%- movie.url %>" class="name-movie">
                        <span class="name-rus"><%= movie.title %></span>
                        <span class="name-eng"><% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %> <% if (movie.translate) { %><%- movie.translate %><% } %><% } %></span>
                    </a>
                </div>

            <% });
            } %>

        </div>

    <% }); } } } %>

    <div class="aside-block">
        <div class="aside-title">
            <%- page.l.top %> <%- page.l.movies %>/<%- page.l.series %>
        </div>
    </div>
    <div class="now-playing-list main-page">
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.movie %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.cartoons %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.series %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.anime %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.movie %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.cartoons %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.series %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.kp %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.anime %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.kp %>
                </span>
            </a>
        </div>

        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.movie %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.cartoons %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.series %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.popular %> <%- page.l.anime %>
                </span>
                <span class="name-eng">
                    <%- page.l.popular %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.movie %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.cartoons %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.series %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    <%- page.l.top %> <%- page.l.anime %>
                </span>
                <span class="name-eng">
                    <%- page.l.rating %> <%- page.l.imdb %>
                </span>
            </a>
        </div>
    </div>
    <div style="clear: both"></div>

    <% if (typeof soon === 'object' && soon.length) { %>

        <div class="aside-block">
            <div class="aside-title"><%- page.l.soon %>
            </div>
            <div id="comming-soon" class="slider slider-main">
                <div class="viewport">
                    <i class="buttons prev icon-arowLeft"></i>
                    <ul class="overview slider-wrap">

                        <% soon.forEach(function (movie) { %>

                            <li class="slider-item">
                                <a href="<%- movie.url %>" class="playing-poster "><img src="<%- movie.poster %>" alt="<%= page.l.online %> <%= movie.title %>"></a>
                                <div class="comming-soon-name">
                                    <a href="<%- movie.url %>" class="name-movie">
                                        <span class="name-rus" style="white-space:normal;"><%= movie.title %></span>
                                    </a>
                                </div>
                            </li>

                        <% }); %>

                    </ul>
                    <i class="buttons next icon-arowRight"></i>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>

    <% } %>

    <% if (typeof news === 'object' && news.length) { %>
        <% news.forEach(function (content) { %>
            <div style="float: left; width: 100%;">
                <div style="margin: 0; padding: 10px">
                    <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url('<%- content.image %>');">
                        <div class="cinemapress-news-title">
                            <%= content.title %>
                        </div>
                    </a>
                </div>
            </div>
        <% }); %>
        <div style="clear: both"></div>
    <% } %>

    <% if (typeof page.adv === 'object' && page.adv.left) { %>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.left %>
        </div>
        <div style="clear: both"></div>
    <% } %>

    <% if (typeof recent === 'object' && recent.length) { %>
        <% recent.forEach(function (comment) { %>
            <div style="width: 280px; margin: 10px">
                <div class="cinemapress-comment">
                    <div class="cinemapress-comment-head">
                        <div class="cinemapress-comment-head-avatar">
                            <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                        </div>
                        <div class="cinemapress-comment-head-meta">
                            <div class="cinemapress-comment-head-meta-title">
                                <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                            </div>
                            <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                                <div class="cinemapress-comment-user-name">
                                    <%- comment.user %>
                                </div><div class="cinemapress-comment-user-said">
                                    <%- page.l.said %>
                                </div><div class="cinemapress-comment-user-date">
                                    <%- comment.date %>
                                </div><div class="cinemapress-comment-user-link">
                                    <a href="<%- comment.url %>#c<%- comment.id %>" title="<%= comment.title %>">#</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cinemapress-comment-bg cinemapress-comment-radius">
                        <%- comment.comment %>
                    </div>
                </div>
            </div>
        <% }); %>
        <div style="clear: both"></div>
    <% } %>

</div>