<div class="aside-wrap">

    <% if (typeof top == 'object' && top.movies.length) { %>

    <div class="aside-block">
        <div class="aside-title">
            <%- top.name %>
        </div>

        <% [top.movies.shift()].forEach(function (movie) { %>

        <div id="now-playing" class="slider slider-main">
            <a href="<%- movie.url %>" class="playing-poster "><img src="<%- movie.poster %>" alt="Смотреть онлайн <%- movie.title %>"></a>
        </div>

        <% }); %>

    </div>
    <div class="now-playing-list main-page">

        <% top.movies.forEach(function (movie) { %>

        <div class="list-item">
            <a href="<%- movie.url %>" class="name-movie">
                <span class="name-rus"><%- movie.title %></span>
                <span class="name-eng"><%- movie.title_en %></span>
            </a>
        </div>

        <% }); %>

    </div>

    <% } %>

    <div class="aside-block">
        <div class="aside-title">
            Лучшие фильмы/сериалы
        </div>
    </div>
    <div class="now-playing-list main-page">
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные фильмы
                </span>
                <span class="name-eng">
                    По голосам на КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные мультфильмы
                </span>
                <span class="name-eng">
                    По голосам на КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные сериалы
                </span>
                <span class="name-eng">
                    По голосам на КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=kinopoisk-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные аниме
                </span>
                <span class="name-eng">
                    По голосам на КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ фильмы
                </span>
                <span class="name-eng">
                    По рейтингу КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ мультфильмы
                </span>
                <span class="name-eng">
                    По рейтингу КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ сериалы
                </span>
                <span class="name-eng">
                    По рейтингу КиноПоиск
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=kinopoisk-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ аниме
                </span>
                <span class="name-eng">
                    По рейтингу КиноПоиск
                </span>
            </a>
        </div>

        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные фильмы
                </span>
                <span class="name-eng">
                    По голосам на IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные мультфильмы
                </span>
                <span class="name-eng">
                    По голосам на IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные сериалы
                </span>
                <span class="name-eng">
                    По голосам на IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=imdb-vote-up" class="name-movie">
                <span class="name-rus">
                    Популярные аниме
                </span>
                <span class="name-eng">
                    По голосам на IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ фильмы
                </span>
                <span class="name-eng">
                    По рейтингу IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ мультфильмы
                </span>
                <span class="name-eng">
                    По рейтингу IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ сериалы
                </span>
                <span class="name-eng">
                    По рейтингу IMDb
                </span>
            </a>
        </div>
        <div class="list-item">
            <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>?sort=imdb-rating-up" class="name-movie">
                <span class="name-rus">
                    Топ аниме
                </span>
                <span class="name-eng">
                    По рейтингу IMDb
                </span>
            </a>
        </div>
    </div>

    <% if (typeof soon == 'object' && soon.movies.length) { %>

    <div class="aside-block">
        <div class="aside-title"><%- soon.name %>
        </div>
        <div id="comming-soon" class="slider slider-main">
            <div class="viewport">
                <i class="buttons prev icon-arowLeft"></i>
                <ul class="overview slider-wrap">

                    <% soon.movies.forEach(function (movie) { %>

                    <li class="slider-item">
                        <a href="<%- movie.url %>" class="playing-poster "><img src="<%- movie.poster %>" alt="Смотреть онлайн <%- movie.title %>"></a>
                        <div class="comming-soon-name">
                            <a href="<%- movie.poster %>" class="name-movie">
                                <span class="name-rus"><%- movie.title %></span>
                                <span class="name-eng"><%- movie.title_en %></span></a>
                        </div>
                    </li>

                    <% }); %>

                </ul>
                <i class="buttons next icon-arowRight"></i>
            </div>
        </div>
    </div>

    <% } %>

</div>