<!doctype html>
<html lang="<%- page.language %>">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div class="page-wrapper">

    <header id="header">

        <% include includes/header.ejs %>

    </header>

    <% include includes/header2.ejs %>

    <div id="main" class="cat">

        <div class="container-main">

            <div class="panel-view">
                <div class="grid neutral icon-grid" id="OpenGrid"><i class="fa"></i></div>
                <div class="line neutral icon-list" id="OpenLine"><i class="fa"></i></div>
            </div>

            <aside id="aside">

                <% include includes/left.ejs %>

            </aside>

            <section class="content">

                <div class="line-block">

                    <% if (typeof index === 'object') {
                        for (var type in index) {
                            if (index.hasOwnProperty(type) && index[type].length && type !== 'episode') {
                                index[type].forEach(function (category) { %>
                    <div class="head-title">
                        <h2 class="subtitle-index">
                            <%- category.name %>
                            <div class="randomMovieIndex">
                                <div class="cinemapress-random-index"
                                     onclick="window.location.href='<%- category.url %>?random'"
                                     title="<%- page.l.random %>">
                                    <img src="/themes/robb/public/images/dice.svg" alt="<%- page.l.random %>">
                                </div>
                            </div>
                        </h2>
                    </div>
                    <div class="cinemapress-content-main">
                        <% if (category.movies.length) {
                            category.movies.forEach(function (movie) { %>
                        <article class="shortstory line">
                            <div class="short">
                                <a href="<%- movie.url %>">
                                    <div class="like-count-wrap">
                                        <img src="<%- movie.poster %>" class="poster" alt="<%= movie.title %>">
                                        <% if (movie.quality) { %>
                                        <div class="like">
                                            <div class="count green"><%- movie.quality %></div>
                                        </div>
                                        <% } %>
                                    </div>
                                </a>
                                <a href="<%- movie.url %>">
                                    <h3 class="name"><%= movie.title %> <% if (movie.season && movie.episode) { %>(<%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %> <% if (movie.translate) { %><%- movie.translate %><% } %>)<% } %></h3>
                                    <div class="origin-name"><%= movie.title_en %></div>
                                </a>
                                <a href="<%- movie.url %>" class="watch">
                                    <%- page.l.more %>
                                </a>
                            </div>
                            <div class="full">
                                <% if (movie.premiere) { %>
                                <div class="top-date">
                                    <div class="block-date">
                                        <span class="date"><span><%- movie.premiere %></span></span>
                                    </div>
                                </div>
                                <% } %>
                                <div class="name-block">
                                    <h3 class="name">
                                        <a href="<%- movie.url %>"><%= movie.title %> <% if (movie.season && movie.episode) { %>(<%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %> <% if (movie.translate) { %><%- movie.translate %><% } %>)<% } %></a>
                                    </h3>
                                    <div class="origin-name"><%= movie.title_en %></div>
                                </div>

                                <% if (movie.genres_url) { %>
                                <div class="item category">
                                    <span class="lable"><%- page.l.genres %>:</span>
									<span class="added-info">
                                        <%- movie.genres_url %>
									</span>
                                </div>
                                <% } %>

                                <% if (movie.year_url) { %>
                                <div class="item category">
                                    <span class="lable"><%- page.l.year %>:</span>
									<span class="added-info">
                                        <%- movie.year_url %>
									</span>
                                </div>
                                <% } %>

                                <% if (movie.countries_url) { %>
                                <div class="item category">
                                    <span class="lable"><%- page.l.countries %>:</span>
									<span class="added-info">
                                        <%- movie.countries_url %>
									</span>
                                </div>
                                <% } %>

                                <% if (movie.directors_url) { %>
                                <div class="item category">
                                    <span class="lable"><%- page.l.directors %>:</span>
									<span class="added-info">
                                        <%- movie.directors_url %>
									</span>
                                </div>
                                <% } %>

                                <% if (movie.actors_url) { %>
                                <div class="item category">
                                    <span class="lable"><%- page.l.actors %>:</span>
									<span class="added-info">
                                        <%- movie.actors_url %>
									</span>
                                </div>
                                <% } %>

                                <% if (movie.description_short) { %>
                                <div class="description">
                                    <%- movie.description_short %>...
                                </div>
                                <% } %>

                                <div class="close-wrap icon-close"></div>

                            </div>
                        </article>
                        <% }); } %>
                    </div>
                    <% }); } } } %>

                </div>

                <% if (typeof page.pagination === 'object') { %>
                <div class="navigation">
                    <% if (page.pagination.first) { %>
                    <a href="<%- page.pagination.first.link %>" rel="nofollow"><%- page.pagination.first.number %></a>
                    <span class="nav_ext">...</span>
                    <% } %>
                    <% if (page.pagination.prev.length) { %>
                    <% page.pagination.prev.forEach(function (prev) { %>
                    <a href="<%- prev.link %>" rel="nofollow"><%- prev.number %></a>
                    <% }); %>
                    <span class="nav_ext">...</span>
                    <% } %>
                    <span><%- page.pagination.current %></span>
                    <% if (page.pagination.next.length) { %>
                    <span class="nav_ext">...</span>
                    <% page.pagination.next.forEach(function (next) { %>
                    <a href="<%- next.link %>" rel="nofollow"><%- next.number %></a>
                    <% }); %>
                    <% } %>
                    <% if (page.pagination.last) { %>
                    <span class="nav_ext">...</span>
                    <a href="<%- page.pagination.last.link %>" rel="nofollow"><%- page.pagination.last.number %></a>
                    <% } %>
                </div>
                <% } %>

            </section>

        </div>

        <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div class="container user-playlists-slider main-playlist" style="padding: 10px;">
            <div class="viewport" style="text-align: center;">
                <%- page.adv.bottom %>
            </div>
        </div>
        <% } %>

        <% if (page.seo) { %>
        <div class="container user-playlists-slider main-playlist container-seo">
            <div class="head-title">
                <h1 class="subtitle"><%- page.h1 %></h1>
            </div>
            <div class="viewport">
                <%- page.seo %>
            </div>
        </div>
        <% } %>

        <div class="container user-playlists-slider main-playlist recentlyViewedBlock" style="display: none;">
            <div class="viewport">
                <div><%- page.l.watched %>:</div>
                <div id="recentlyViewed"></div>
            </div>
        </div>

        <div class="page-buffer"></div>

        <div class="page-footer clearfix">
            <footer id="footer">

                <% include includes/footer.ejs %>

            </footer>
        </div>

    </div>

</div>

</body>
</html>