<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div class="page-wrapper">

    <header id="header">

        <% include includes/header.ejs %>

    </header>

    <% if (typeof slider === 'object' && slider.length) { %>
    <div class="favorites-slider">
        <div class="container">
            <div id="favorites" class="slider">
                <i class="buttons prev icon-sliderLeft"></i>
                <div class="viewport">
                    <ul class="overview">

                        <% slider.forEach(function (movie) { %>
                        <li>
                            <a href="<%- movie.url %>">
                                <span class="icon-noimage">
                                    <img src="<%- movie.poster %>" class="film-poster" alt="Смотреть онлайн <%- movie.title %>">
                                </span>
                                <i class="fa ico-play"></i>
                                <div class="film-name"><%- movie.title %></div>
                            </a>
                        </li>
                        <% }); %>

                    </ul>
                </div>
                <i class="buttons next icon-sliderRight"></i>
            </div>
        </div>
    </div>
    <% } %>

    <% if (typeof page.adv === 'object' && page.adv.top) { %>
    <div class="container user-playlists-slider main-playlist" style="margin-top: 30px; padding: 10px;">
        <div class="viewport" style="text-align: center;">
            <%- page.adv.top %>
        </div>
    </div>
    <% } %>

    <div id="main" class="showfull">

        <div class="top-menu">
            <div class="container">
                <ul>
                    <li class="active open">
                        <span>Описание</span>
                    </li>
                    <% if (page.urls.movies.online) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.online %>">Онлайн</a>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.download) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>">Скачать</a>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.trailer) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>">Трейлеры</a>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.picture) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.picture %>">Кадры</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="container-main">

            <aside id="aside">

                <% include includes/left.ejs %>

            </aside>

            <div class="content" id="content">

                <div class="line-block">
                    <div id='cinemapress-content-main'>
                        <div id="breadcrumb">
                            <a href="/">
                                Главная
                            </a>
                            <% if (movie.genre_url) { %>
                            <span class="separetor">/</span>
                            <%- movie.genre_url %>
                            <% } %>
                            <span class="separetor">/</span>
                            <span class="active"><%- movie.title %></span>
                        </div>
                        <article class="fullstory">
                            <div class="short min">
                                <span>
                                    <img src="<%- movie.poster %>" class="poster" alt="<%- movie.title %>">
                                </span>
                                <% if (page.urls.movies.online) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.online %>" class="watch icon-play">
                                    Смотреть онлайн
                                </a>
                                <% } %>
                                <% if (page.urls.movies.download) { %>
                                <ul>
                                    <li class="download">
                                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>" class="icon-download">Скачать</a>
                                    </li>
                                </ul>
                                <% } %>
                                <% if (page.urls.movies.trailer) { %>
                                <div class="trailer-wrap">
                                    <span class="trailer-title">Трейлер:</span>
                                    <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>">
                                        <div class="trailer-img icon-playSlim" style="background: url('<%- movie.picture_min %>') 100% 100% no-repeat; background-size: cover;"></div>
                                        <div class="trailer-video"></div>
                                    </a>
                                </div>
                                <% } %>
                            </div>
                            <div class="full min">
                                <div class="name-block">
                                    <h1 class="name"><%- movie.title %></h1>
                                    <div class="origin-name"><strong><%- movie.title_en %></strong>
                                    </div>
                                </div>
                                <% if (movie.premiere) { %>
                                <div class="top-date">
                                    <div class="block-date">
                                        <span class="date"><span><%- movie.premiere %></span></span>
                                    </div>
                                </div>
                                <% } %>

                                <% if (movie.description) { %>
                                <div class="information">
                                    <%- movie.description %>
                                </div>
                                <% } %>

                                <% if (movie.directors_url) { %>
                                <div class="item category">
                                    <span class="label">Режиссер:</span>
                                    <span class="item-content">
                                        <%- movie.directors_url %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.actors_url) { %>
                                <div class="item category">
                                    <span class="label">В ролях:</span>
                                    <span class="item-content">
                                        <%- movie.actors_url %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.year_url) { %>
                                <div class="item category">
                                    <span class="label">Год:</span>
                                    <span class="item-content">
                                        <%- movie.year_url %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.genres_url) { %>
                                <div class="item category">
                                    <span class="label">Жанр:</span>
                                    <span class="item-content">
                                        <%- movie.genres_url %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.countries_url) { %>
                                <div class="item category">
                                    <span class="label">Страна:</span>
                                    <span class="item-content">
                                        <%- movie.countries_url %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.quality) { %>
                                <div class="item category">
                                    <span class="label">Качество:</span>
                                    <span class="item-content">
                                        <%- movie.quality %>
                                    </span>
                                </div>
                                <% } %>
                                <% if (movie.translate) { %>
                                <div class="item category">
                                    <span class="label">Перевод:</span>
                                    <span class="item-content">
                                        <%- movie.translate %>
                                    </span>
                                </div>
                                <% } %>

                            </div>

                            <div class="full-panel">
                                <div class="left">
                                    <header class="helpRating">
                                        Рейтинг
                                    </header>
                                    <footer>
                                        <span class="kinopoisk btn-tooltip icon-kinopoisk">
                                            <strong><%- movie.kp_rating/10 %></strong>
                                            <br>
                                            <strong><%- movie.kp_vote %></strong>
                                        </span>
                                        <span class="imdb btn-tooltip icon-imdb">
                                            <strong><%- movie.imdb_rating/10 %></strong>
                                            <br>
                                            <strong><%- movie.imdb_vote %></strong>
                                        </span>
                                    </footer>
                                </div>
                                <div class="center">
                                    <header>Итоговый рейтинг</header>
                                    <div id="slider-range-min">
                                        <span style="width: <%- movie.rating %>%;" class="percent-p" data-percent-p="<%- movie.rating %>"></span>
                                        <span class="pic " style="left: <%- movie.rating %>%;"></span>
                                        <span style="width: <%- (100-movie.rating) %>%;" class="percent-n" data-percent-n="<%- (100-movie.rating) %>"></span>
                                    </div>
                                    <footer>
                                        <span class="green"><%- movie.rating %>%</span>
                                        <span> </span>
                                        <span class="red"><%- (100-movie.rating) %>%</span>
                                    </footer>
                                </div>
                                <div class="right rating">
                                    <%- movie.vote %> голосов
                                </div>
                            </div>
                        </article>

                        <div class="episodesListBlock" style="display: none;">
                            <h3><%- movie.title %> новые серии</h3>
                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                        <div style="text-align: center; margin: 10px auto;">
                            <%- page.adv.over %>
                        </div>
                        <% } %>

                        <div class="player-main-block">
                            <h2><%- movie.title %></h2>
                            <div class="player-item">
                                <header>
                                    <div class="watchLaterBlock" style="display: none;">
                                        <span class="continue tooltip m-button" id="watchLater" title="Когда будет время, просто нажмете вверху экрана кнопку «Продолжить»">Досмотреть позже</span>
                                    </div>
                                </header>
                                <div class="players">
                                    <%- page.player %>
                                </div>
                                <% if (page.urls.movies.download) { %>
                                <div class="reports-subscribe" style="padding: 20px 0;">
                                    <span class="download">
                                        <a class="icon-download" href="<%- movie.url %>/<%- page.urls.movies.download %>">
                                            Скачать
                                        </a>
                                    </span>
                                </div>
                                <% } %>
                            </div>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                        <div style="text-align: center; margin: 10px auto;">
                            <%- page.adv.under %>
                        </div>
                        <% } %>

                        <% if (typeof contents === 'object' && contents.length) { %>
                        <div style="clear: both"></div>
                        <% contents.forEach(function (content) { %>
                        <div style="float: left; width: 50%;">
                            <div style="margin: 0; padding: 10px">
                                <a href="<%- content.url %>" class="cinemapress-news">
                                    <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%- content.title %>">
                                    <div class="cinemapress-news-title">
                                        <%- content.title %>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                        <div style="clear: both"></div>
                        <% } %>

                        <% if (typeof movies === 'object') {
                            for (var type in movies) {
                                if (movies.hasOwnProperty(type) && movies[type].length) {
                                    movies[type].forEach(function (category) { %>
                        <div class="careers-actor slider slider-main">
                            <div class="head-title clearfix">
                                <div class="subtitle">
                                    <%- category.name %>
                                </div>
                                <div class="slider-navigation">
                                    <span class="buttons prev row-left icon-arowLeft"><i class="fa"></i></span>
                                    <span class="buttons next row-right icon-arowRight"><i class="fa"></i></span>
                                </div>
                            </div>
                            <div class="viewport">
                                <ul class="slider-wrap overview">
                                    <% if (category.movies.length) {
                                        category.movies.forEach(function (movie) { %>
                                    <li class="slider-item">
                                        <a href="<%- movie.url %>">
                                            <span class="slider-img ">
                                                <img src="<%- movie.poster %>" class="film-poster" alt="Смотреть онлайн <%- movie.title %>">
                                            </span>
                                            <div class="film-name"><%- movie.title %></div>
                                        </a>
                                    </li>
                                    <% }); } %>
                                </ul>
                            </div>
                        </div>
                        <% }); } } } %>

                        <% if (page.comments) { %>
                        <div class="cr-block com">
                            <h2 class="cr-title">Отзывы на фильм <%- movie.title %></h2>
                            <div id="commentstab" class="tab-block open">
                                <%- page.comments %>
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>
            </div>

        </div>

        <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div class="container user-playlists-slider main-playlist" style="padding: 10px;">
            <div class="viewport" style="text-align: center;">
                <%- page.adv.bottom %>
            </div>
        </div>
        <% } %>

        <% if (page.seo) { %>
        <div class="container user-playlists-slider main-playlist">
            <div class="head-title">
                <div class="subtitle"><%- page.title %></div>
            </div>
            <div class="viewport">
                <%- page.seo %>
            </div>
        </div>
        <% } %>

        <div class="container user-playlists-slider main-playlist recentlyViewedBlock" style="display: none;">
            <div class="viewport">
                <div>Вы надавно смотрели:</div>
                <div id="recentlyViewed"></div>
            </div>
        </div>

        <div class="page-buffer"></div>

        <div class="page-footer clearfix">
            <footer id="footer">

                <% include includes/footer.ejs %>

            </footer>
        </div>
    </div>

</div>

</body>
</html>