<!doctype html>
<html lang="<%- page.language %>" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div class="page-wrapper">

    <header id="header">

        <% include includes/header.ejs %>

    </header>

    <% if (typeof slider === 'object' && slider.length) { %>
    <div class="favorites-slider">
        <div class="container">
            <div id="favorites" class="slider">
                <i class="buttons prev icon-sliderLeft"></i>
                <div class="viewport">
                    <ul class="overview">

                        <% slider.forEach(function (movie) { %>
                        <li>
                            <a href="<%- movie.url %>">
                                <span class="icon-noimage">
                                    <img src="<%- movie.poster %>" class="film-poster" alt="Смотреть онлайн <%= movie.title %>">
                                </span>
                                <i class="fa ico-play"></i>
                                <div class="film-name"><%= movie.title %></div>
                            </a>
                        </li>
                        <% }); %>

                    </ul>
                </div>
                <i class="buttons next icon-sliderRight"></i>
            </div>
        </div>
    </div>
    <% } %>

    <div id="main" class="play">

        <div class="top-menu">
            <div class="container">
                <ul>
                    <li class="active not-click">
                        <a href="<%- movie.url %>">Описание</a>
                    </li>
                    <% if (page.urls.movies.online) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.online %>">Онлайн</a>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.download) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>">Скачать</a>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.trailer) { %>
                    <li class="active open">
                        <span>Трейлеры</span>
                    </li>
                    <% } %>
                    <% if (page.urls.movies.picture) { %>
                    <li class="active not-click">
                        <a href="<%- movie.url %>/<%- page.urls.movies.picture %>">Кадры</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="container-main">
            <div class="content" id="content">
                <div class="line-block">
                    <div id='cinemapress-content-main'>
                        <div class="play">
                            <h2 class="hidden">
                                <%= movie.title %> / <%= movie.title_en %> (<%- movie.year %>)
                            </h2>
                            <div id="breadcrumb">
                                <a href="/">
                                    Главная
                                </a>
                                <% if (movie.genre_url) { %>
                                <span class="separetor">/</span>
                                <%- movie.genre_url %>
                                <% } %>
                                <span class="separetor">/</span>
                                <a href="<%- movie.url %>">
                                    <%= movie.title %>
                                </a>
                                <span class="separetor">/</span>
                                <span class="active">
                                    Трейлер
                                </span>
                            </div>

                            <% if (typeof page.adv === 'object' && page.adv.over) { %>
                            <div style="text-align: center; margin: 10px auto;">
                                <%- page.adv.over %>
                            </div>
                            <% } %>

                            <h1 id="play-descr" class="title-page">
                                Трейлер <a href="<%- movie.url %>"><%= movie.title %></a>
                            </h1>
                            <div class="episodesListBlock" style="display: none; margin-bottom: 20px;">
                                <h3><%= movie.title %> новые серии</h3>
                                <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                            </div>
                            <header>
                                <% if (page.urls.movies.online) { %>
                                <div class="hidden-block">
                                    <span class="save-time">
                                        <a href="<%- movie.url %>/<%- page.urls.movies.online %>">Смотреть онлайн</a>
                                    </span>
                                </div>
                                <% } %>
                                <% if (page.urls.movies.download) { %>
                                <div class="other-block">
                                    <span class="other-item">
                                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>" class="download icon-download">Скачать</a>
                                    </span>
                                </div>
                                <% } %>
                                <div class="clearfix"></div>
                            </header>
                            <div class="clearfix"></div>
                            <div class="players">
                                <%- page.player %>
                            </div>

                            <% if (typeof page.adv === 'object' && page.adv.under) { %>
                            <div style="text-align: center; margin: 10px auto;">
                                <%- page.adv.under %>
                            </div>
                            <% } %>

                            <% if (page.seo) { %>
                            <div style="text-align: justify; margin: 20px auto;">
                                <%- page.seo %>
                            </div>
                            <% } %>

                            <% if (typeof contents === 'object' && contents.length) { %>
                            <div style="clear: both"></div>
                            <% contents.forEach(function (content) { %>
                            <div style="float: left; width: 33.33%;">
                                <div style="margin: 0; padding: 10px">
                                    <a href="<%- content.url %>" class="cinemapress-news" style="background:url(<%- content.image %>);">
                                        <div class="cinemapress-news-title">
                                            <%= content.title %>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% }); %>
                            <div style="clear: both"></div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container user-playlists-slider main-playlist recentlyViewedBlock" style="display: none; background-color: transparent;">
            <div class="viewport">
                <div style="color: #8f95a3;">Вы надавно смотрели:</div>
                <div id="recentlyViewed"></div>
            </div>
        </div>

        <div class="page-buffer"></div>

        <div class="page-footer clearfix">
            <footer id="footer">

                <% include includes/footer.ejs %>

            </footer>
        </div>
    </div>

</div>

</body>
</html>